@import "tailwindcss";
@plugin "daisyui";

html{
  overflow-x:hidden;
}


body{
  margin:0;
  padding:0;
  background: none;
  position: relative;
}

/* body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("../public/transparent-white.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  filter: blur(16px) brightness(0.8);
} */

#navbar{

  backdrop-filter: blur(10px);
  box-shadow:0 1px 12px rgba(0,0,0,0.25);
}
#section1{
  border-radius:8px;
  backdrop-filter: blur(10px);
  background-color:rgba(255,255,255,0.5);
  box-shadow:0 1px 12px rgba(0,0,0,0.25);
  border:1px solid rgba(255,255,255,0.3);
}

#section2{
  border-radius:8px;
  backdrop-filter: blur(10px);
  background-color:rgba(255,255,255,0.5);
  box-shadow:0 1px 12px rgba(0,0,0,0.25);
  border:1px solid rgba(255,255,255,0.3);
}